@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Oradea,Strada Fagurelui nr 42<br />
    Judetul Bihor<br />
    <abbr title="Phone">Telefon:</abbr>
    0775.259.148
</address>

<address>
    <strong>GMail:</strong> sgaby100@gmail.com<br />
    <strong>More Info:</strong>Bellow<br />
</address>
<img rel="image" src="~/Content/iconfinder_facebook_circle_color_107175.png" onclick="window.open('https://www.facebook.com/gaby.serban13')" />
<img rel="image" src="http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" sc" onclick="window.open('https://www.instagram.com/serban_gaby/?hl=ro')" style="width:60px;height:60px;" />