@{
    ViewBag.Title = "Home Page";
}

<div class="card-container"
    <div class="card">
    <img id="cardimg" src="~/Content/12513906_200758683647058_3955153744449627910_o.jpg">
    <div class="card-body">
        <h4 class="card-title">Serban Gabriel</h4>
    </div>
   </div>
    </div>

